body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(73, 68, 68);
}

.content {
  max-width: 1080px;
  margin: 0 auto;
}

.flex {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.img {
  width: 100%;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

img {
  width: 120px;
  height: 120px;
  position: relative;
  border-radius: 50%;
  box-shadow: 0 0 8px #1a1a1d;
}

.title {
  width: 50%;
}
h1 {
  text-align: center;
  font-size: calc((100vw - 30rem) / (80 - 30) * (1.5 - 1) + 1.2rem);
}

.hr {
  border-right: 2px solid #5c69da;
}

ul {
  list-style: square outside;
}

li {
  padding-left: 10px;
}

a {
  position: relative;
  top: -1.5px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(66, 63, 63);
}

h2 {
  color: #5c69da;
}

p {
  text-align: left;
}

.left-content {
  display: flex;
  flex-direction: column;
}

.subtitle {
  text-align: center;
  color: #5c69da;
  font-family: Caveat, sans-serif;
  font-size: 23px;
}

.avatar {
  height: 120px;
  position: relative;
  width: 120px;
}

.avatar img {
  border-radius: 9999px;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 2;
}

@keyframes cycle-colors {
  0% {
    border-color: hsl(0, 100%, 50%);
  }
  25% {
    border-color: hsl(90, 100%, 50%);
  }
  50% {
    border-color: hsl(180, 100%, 50%);
  }
  75% {
    border-color: hsl(270, 100%, 50%);
  }
  100% {
    border-color: hsl(360, 100%, 50%);
  }
}

@keyframes pulse {
  to {
    opacity: 0;
    transform: scale(1);
  }
}

.avatar::before,
.avatar::after {
  animation: pulse 2s linear infinite;
  border: #fff solid 8px;
  border-radius: 9999px;
  box-sizing: border-box;
  content: " ";
  height: 140%;
  left: -20%;
  opacity: 0.6;
  position: absolute;
  top: -20%;
  transform: scale(0.714);
  width: 140%;
  z-index: 1;
}

.avatar::after {
  animation-delay: 1s;
}

.avatar:hover img {
  content: url("./img/zinilh.jpg");
}

.avatar:hover::before,
.avatar:hover::after {
  animation: pulse 1s linear infinite, cycle-colors 6s linear infinite;
}

.avatar:hover::after {
  animation-delay: 0.5s;
}
