body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: bg-anim;
  animation-duration: 6700ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  background: linear-gradient(-45deg, #3ca55c, #b5ac49, #56ab2f, #a8e063);
  background-size: 400% 400%;
}

.box{
  width: 520px;
  height: 420px;
  background-color: transparent;
  border-radius: 10px;
}

.box__content{
  position: relative;
  width: 94%;
  height: 93%;
}

.circle{
  border-radius: 50%;
  background-color: rgba(0, 128, 0, 0.85);
  position: absolute;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: anim;
  animation-duration: 14s;
}

.circle:first-child{
  background-color: orange;
  background-image: url("./image/gus.svg");
  background-size: cover;
  animation-delay: 0s;
  width: 50px;
  height: 50px;
}

.circle:nth-child(2){
  animation-delay: 300ms;
  width: 45px;
  height: 45px;
}

.circle:nth-child(3){
  animation-delay: 600ms;
  width: 45px;
  height: 45px;
}

.circle:nth-child(4){
  animation-delay: 900ms;
  width: 42px;
  height: 42px;
}

.circle:nth-child(5){
  animation-delay: 1200ms;
  width: 41px;
  height: 41px;
}

.circle:nth-child(6){
  animation-delay: 1500ms;
  width: 40px;
  height: 40px;
}

.circle:nth-child(7){
  animation-delay: 1800ms;
  width: 38px;
  height: 38px;
}

@keyframes anim {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: 100%;
    top: 0;
}
  50%{
    left: 100%;
    top: 100%;
 }
  75% {
    left: 0;
    top: 100%;
}
  100% {
    left: 0;
    top: 0;
}
}

@keyframes bg-anim {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}













