@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: 'Open Sans', sans-serif;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body,html{
  background-color: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrapper{
  width: 100%;
  height: 100%;
  overflow: auto;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 100px;
}

.header__contact{
  border: 2px solid #10133A;
  width: 299px;
  height: 81px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
}

.justify-content-between{
  justify-content: space-between;
}

.menu{
  display: none;
}

.phone-text{
  line-height: 30px;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.link-profile{
  margin-left: 20px;
}

.c-link{
  text-decoration: none;
  margin: 11px;
}

.c-link:hover .c-link-svg{
  fill: #ef4621;
}

nav{
  /*min-height: 789px;*/
}

.nav{
  position: relative;
  padding: 0 51px;
  background-color: #10133A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 61px;
}

.nav__link {
  color: white;
  text-decoration: none;
}

.nav-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 40px;
}

.fitness{
  position: relative;
  min-height: 749px;
  min-width: 580px;
  z-index: 21;
  top: -15px;
}

.fitness-bg{
  width: 100%;
  height: 100%;
  background-image: url("./image/girl.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

h2{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 20px;
}

.nav-content-text{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 30px;
  position: relative;
  top: -100px;
}

.main{
  margin-top: -15px;
}

.advice{
  height: 596px;
  width: 100%;
  background-color: #F4F5FF;
}

.advice-content{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 107px;
}

.advice-col-1{
  padding: 20px 0;
  width: 434px;
  height: 412px;
  border-right: 4px solid transparent;
  border-image-source: linear-gradient(90deg, #EF4621 0%, #F6CF45 100%);
  border-image-slice: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.advice-col-2{
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  height: 100%;
}

.advice-col-2-logo{
  width: 300px;
  height: 300px;
  background: linear-gradient(270deg, #EF4621 0%, #F6CF45 100%);
  border-radius: 10px;
  margin-bottom: 40px;
}

.btn{
  text-align: left;
  width: 100%;
  height: 69px;
  font-weight: 700;
  color: #363636;
  cursor: pointer;
  background-color: transparent;
}

.btn-active{
  background-color: #10133A;
  color: white;
  padding-left: 10px;
  border-left: 4px solid transparent;
  border-image-source: linear-gradient(90deg, #EF4621 0%, #F6CF45 100%);
  border-image-slice: 1;
}

.advice-text{
  width: 474px;
  text-wrap: revert;
  text-align: center;
  font-weight: 700;
  color: #343434;
}

.image{
  object-fit: scale-down;
}

.d-flex{
  display: flex;
}

.justify-content-center{
  justify-content: center;
}

.align-items-center{
  align-items: center;
}

.b-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: #10133A;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
  stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.sign{
  background: linear-gradient(90deg, #EF4621 0%, #F6CF45 100%);
  border-radius: 53px;
  width: 232px;
  height: 36px;
  display: none;
  margin-bottom: 50px;
}

.sign a {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-decoration: none;
  color: white;
}

.menu-list{
  position: absolute;
  top: -100%;
  z-index: 110;
  width: 100%;
  height: 70%;
  background-color: #fff;
  box-shadow: 0 0 4px #10133A;
}

.f-column{
  flex-direction: column;
}

.menu-list1{
  top: 0;
}

.btn-fixed{
  position: fixed;
  z-index: 200;
  top: 40px;
  right: 30px;
}

.menu-list{
  flex-direction: column;
}

.menu-link{
  margin: 20px 0;
  line-height: 30px;
  text-decoration: none;
  color: #10133A;
  font-weight: 700;
  font-size: 22px;
}

.advice-mobile-text{
  display: none;
  margin: 0 auto 35px auto;
  padding-top: 17px;
  border-radius: 3px;
  background-color: #10133A;
  color: white;
  height: 37px;
  width: 300px;
  text-align: center;
}

.mobile-btn{
  display: none;
  margin: 20px auto;
}

.btn-m{
  background: linear-gradient(90deg, #EF4621 0%, #F6CF45 100%);
  opacity: 0.2;
  border-radius: 10px;
  width: 61px;
  height: 18px;
  margin: 0 9px;
}

.title-text h3{
  font-size: 24px;
  color: #10133A;
  font-weight: 700;
  border-bottom: 4px solid transparent;
  border-image-source: linear-gradient(90deg, #EF4621 0%, #F6CF45 100%);
  border-image-slice: 1;
  padding-bottom: 7px;
  margin-bottom: 11px;
  display: inline-block;
}

.trainer{
  padding: 51px 66px 69px 121px;
}

.tr-text{
  width: 532px;
  line-height: 31px;
  font-size: 24px;
}

#our-trainers{
  max-width: 1235px;
  margin: 0 auto 30px auto;
  flex-wrap: wrap;
}

.text-right{
  text-align: right;
}

.tp{
  padding-top: 100px;
}

.t-right{
  text-align: right;
}

.f-wrap{
  flex-wrap: wrap-reverse;
}

#workout{
  max-width: 1235px;
}

.reviews{
  padding-top: 41px;
  width: 100%;
  background-color: #F4F5FF;
}

.slider{
  max-width: 1235px;
  margin: 0 auto;
  padding-top: 41px;
  padding-bottom: 62px;
}

.slider-content{
  max-width: 837px;
  margin: 0 auto;
}

.user-image-1, .user-image-2{
  margin: 0 auto 41px auto;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 198px;
  height: 198px;
  border-radius: 50%;
}
.user-image-1{
  background-image: url("./image/r-girl.png");
}

.user-image-2{
  background-image: url("./image/woman4.jpg");
}

.m-auto{
  margin: 0 auto;
}

.user-text{
  font-weight: 400;
  max-width: 837px;
  font-size: 24px;
  text-align: center;
}

.wave{
  width: 180px;
  height: 30px;
  margin:  0 auto 35px auto;
}

.r-title{
  min-width: 200px;
  margin: 0 auto;
}

.slick-list{
  max-width: 900px;
  margin: 0 auto;
}

.svg-wave{
  width: 100%;
  height: 100%;
}

.video{
  margin: 0 auto;
  padding: 90px 0;
  max-width: 1236px;
  height: 700px;
}

iframe{
  width: 100%;
  height: 100%;
}

.form{
  max-width: 856px;
  margin: 90px auto 108px auto;
}

.input, .radio-btn{
  width: 100%;
  margin-bottom: 65px;
}

.input input{
  width: 649px;
  height: 85px;
  border-radius: 50px;
  color: #10133A;
  background-color: #eae2e2;
  font-size: 30px;
  line-height: 41px;
  padding-left: 41px;
}

.radio{
  width: 649px;
  color: #10133A;
}

.pointer{
  cursor: pointer;
}

.r-label{
  font-size: 30px;
}

.r-input{
  height: 43px;
  width: 43px;
  margin-right: 10px;
  position: relative;
  top: 8px;
}

.label{
  display: inline-block;
  font-size: 28px;
  line-height: 38px;
}

.save{
  height: 53px;
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
  color: white;
  background: linear-gradient(90deg, #EF4621 0%, #F6CF45 100%);
  border-radius: 50px;
  padding: 0 40px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.save:focus{
  box-shadow: inset 0px 4px 4px rgba(169, 60, 60, 0.25);
}

.save:hover{
  box-shadow: 0px 4px 3px rgba(169, 60, 60, 0.25);
}


.select {
  position: relative;
  margin-bottom: 61px;
}

.select__head {
  width: 660px;
  border-radius: 50px;
  padding: 14px 15px;
  font-size: 24px;
  line-height: 53px;
  color: #10133A;
  background-color: #eae2e2;
  cursor: pointer;
}

.open{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select__head::after {
  width: 18px;
  height: 10px;
  background: #eae2e2 url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.50495 5.78413L0.205241 1.25827C-0.0684138 0.970375 -0.0684138 0.503596 0.205241 0.215836C0.478652 -0.0719461 0.922098 -0.071946 1.19549 0.215837L5.00007 4.22052L8.80452 0.215953C9.07805 -0.0718292 9.52145 -0.0718292 9.79486 0.215953C10.0684 0.503736 10.0684 0.970492 9.79486 1.25839L5.49508 5.78425C5.35831 5.92814 5.17925 6 5.00009 6C4.82085 6 4.64165 5.928 4.50495 5.78413Z' fill='%2310133AFF'/%3E%3C/svg%3E%0A") no-repeat center / cover;
  position: absolute;
  right: 20px;
  bottom: 50%;
  transform: translateY(50%);
  content: '';
  display: block;
  transition: .2s ease-in;
}

.select__head.open::after {
  transform: translateY(50%) rotate(180deg);
}

.select__list {
  display: none;
  width: 690px;
  position: absolute;
  top: 100%;
  padding: 0 0 10px 0;
  right: 0;
  background: #eae2e2;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  max-height: 205px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
  margin: 0;
  line-height: 27px;
  font-size: 20px;
  color: #10133A;
  overscroll-behavior: contain;
}

.select__list::-webkit-scrollbar {
  width: 7px;
  background-color: #F8F9FA;
  padding: 5px;
}

.select__list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #D9D9D9;
}

.select__list .select__item {
  position: relative;
  border-top: 1px solid rgba(224, 229, 231, 0.5);
  padding: 10px 15px;
  cursor: pointer;
  list-style-type: none;
}

.select__list .select__item:hover {
  background: linear-gradient(90deg, #EF4621 0%, #F6CF45 100%);
  color: white;
}
